body {
  font-family: monospace;
  color: rgb(73, 71, 71);
  margin: 0;
  text-align: center;
  padding-top: 20px;
  /* Set a minimum height for the body */
  min-height: 100vh;
  /* Viewport height */
  /* Add extra padding at the bottom for scrolling */
  padding-bottom: 100px;
  /* Adjust as needed */
  overflow-y: auto;
  /* Enable vertical scrolling */
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Standard syntax */
}


.circle {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.shadow {
  top: 93px;
  left: 45px;
  background-color: rgb(180, 180, 180);
  transform: translateY(-50%);
  filter: blur(4px);
}

.light {
  top: 85px;
  left: 35px;
  width: 41px;
  height: 41px;
  background-color: rgb(255, 255, 255);
  transform: translateY(-50%);
  filter: blur(4px);
}

.button1 {
  position: absolute;
  /* Ensure the button can be moved */
  top: 90px;
  left: 40px;
  /* Initial left position */
  background-color: rgb(241, 241, 241);
  transform: translateY(-50%);
}

.button1 .placeholder {
  display: none;
}

.button1.bar {
  width: 500px;
  /* Adjust width as needed */
  height: 40px;
  line-height: 40px;
  /* Center text vertically */
  border-radius: 25px;
  background-color: #f5f5f5;
  box-shadow:
    5px 5px 10px #c4c4c4,
    -5px -5px 10px #ffffff;
  transition: background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  /* Adjusted left position REMOVED */
  top: 90px;
  /* Adjusted top position to maintain vertical alignment */
  left: 40px;
  /* Ensure the button sticks to the left side of the page */
}

.button1.bar .placeholder {
  display: block;
  /* Show the placeholder when the button is a bar */
  position: absolute;
  top: 50%;
  left: 20px;
  font-size: 15px;
  /* Adjust left position as needed */
  transform: translateY(-50%);
}

.button1.bar .search-icon {
  display: none;
  /* Hide the search icon when the button becomes a bar */
}

.pressed-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f5f5f5;
  box-shadow: inset 3px 3px 16px #c7c7c7, inset -3px -3px 16px #ffffff;
  position: absolute;
  top: 160px;
  left: 40px;
}

.light-mode .button1,
.light-mode .pressed-button {
  background-color: rgb(241, 241, 241);
  transition: background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.light-mode .shadow {
  background-color: rgb(180, 180, 180);
  transition: background-color 0.5s ease-in-out;
}

.light-mode .light {
  background-color: rgb(255, 255, 255);
  transition: background-color 0.5s ease-in-out;
}

.dark-mode .button1,
.dark-mode .pressed-button {
  background-color: rgb(37, 42, 53);
  transition: background-color 0.5s ease-in-out;
  /* Add transition */
}

.dark-mode .shadow {
  background-color: rgb(15, 15, 15);
  transition: background-color 0.5s ease-in-out;
  /* Add transition */
}

.dark-mode .light {
  background-color: rgb(54, 54, 54);
  transition: background-color 0.5s ease-in-out;
  /* Add transition */
}

.dark-mode .pressed-button {
  background-color: #252A35;
  box-shadow: inset 3px 3px 16px #121417, inset -3px -3px 16px #5b626f;
  transition: background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

body.light-mode {
  color: rgb(73, 71, 71);
}

body.dark-mode {
  color: rgb(197, 192, 192);
}

button:focus {
  outline: none;
}

h1 {
  font-size: 40px;

}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

body.light-mode footer {
  color: rgb(73, 71, 71);
  /* Black text color in light mode */
}

body.dark-mode footer {
  color: rgb(197, 192, 192);
  /* White text color in dark mode */
}

.search-icon {
  color: rgb(242, 176, 43);
  position: absolute;
  top: 50%;
  right: 12px;
  /* Adjust the right position as needed */
  transform: translateY(-50%);
}

div.footer-links {
  position: fixed;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: auto;
}

div.footer-links a {
  margin: 0 10px;
  text-decoration: none;
  color: inherit;
}

div.footer-links a:hover {
  text-decoration: underline;
}